body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
.container-header{
   padding: 0 2%;
}

.container-divs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 10px;
}
.navbar.navbar-expand-lg.bg-body-tertiary {
    background-color: white !important;
}

.div1 {
    grid-column: 1;
    padding: 10%;

}
.div1 img{
    width: 100%;
    height: auto;
   
}
.div2 {
    grid-column: 2;
    padding: 10%;
    

}
.div2 img {
    width: 100%;
    height: auto;
}
.div3 {
    grid-column: 1;
    padding: 10%;
}
.div3 img {
    width: 100%;
    height: auto;
  
}
.div4 {
    grid-column: 2;
    padding: 10%;
  
}
.div4 img {
    width: 100%;
    height: auto;
  
}

.container-footer {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2% 2.6%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}